.navbar {
  background-color: #7ec2d4;
}

.subscriptions {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.subscription {
  border: solid 1px #183D5B;
  border-bottom: none;
  padding: 10px;
  border-radius: 7px;
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px;
}

.cme {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content {
  text-align: center;
  color: #183D5B;
}

button {
  background-color: #7ec2d4;
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px;
}